altgraph @ file:///home/conda/feedstock_root/build_artifacts/altgraph_1734870509730/work
Brotli @ file:///D:/bld/brotli-split_1749229870877/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1752493286596/work/certifi
cffi @ file:///D:/bld/cffi_1725560655177/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1746214863626/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
future @ file:///home/conda/feedstock_root/build_artifacts/future_1738926421307/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1738273805233/work
imageio-ffmpeg @ file:///home/conda/feedstock_root/build_artifacts/imageio-ffmpeg_1737102630951/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
moviepy @ file:///home/conda/feedstock_root/build_artifacts/moviepy_1665160419595/work
numpy @ file:///D:/bld/numpy_1751342139670/work/dist/numpy-2.3.1-cp312-cp312-win_amd64.whl#sha256=2f47830762e751bd9384f42731bde4b0ddefa1f0b28a58dd5ef24765c5004d17
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pefile @ file:///home/conda/feedstock_root/build_artifacts/pefile_1675867622763/work
pillow @ file:///D:/bld/pillow_1751481992494/work
proglog @ file:///home/conda/feedstock_root/build_artifacts/proglog_1728452852274/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pyinstaller @ file:///D:/bld/pyinstaller_1751710189402/work
pyinstaller-hooks-contrib @ file:///home/conda/feedstock_root/build_artifacts/pyinstaller-hooks-contrib_1749413333383/work
PySocks @ file:///D:/bld/pysocks_1733217287171/work
pywin32==307
pywin32-ctypes @ file:///D:/bld/pywin32-ctypes_1727282160546/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1749498106507/work
setuptools==80.9.0
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
wheel==0.45.1
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
zstandard==0.23.0
